%div{:class => 'col-sm-8 col-sm-offset-2 top-buffer'}
    %h1{:class => 'cursive text-center'}The Venue
    %h2{:class => 'text-center'}Lake Winnipesaukee
    %div{:id => 'house-pic'}
    %p &nbsp;
    %p{:class => 'text-center'}
        %strong 96 Hopewell Drive, Alton, NH, United States
    %p{:class => 'text-center'}
        %strong This is a beautiful private estate on Lake Winnipesaukee. The official ceremony will be Saturday August 29th at 6:00pm, but the party will be all weekend! See the "Calendar" for more details.
    %p{:class => 'text-center'}
        %strong
            How to get there? 
            %a{:href => 'https://www.google.com/maps/place/96+Hopewell+Dr,+Alton,+NH+03809/@43.5466245,-71.2221748,17z/data=!3m1!4b1!4m2!3m1!1s0x4cb32f2aa1436d4d:0x6345ffdb8d4cabb7', :target => '_blank'}Check out a map
    %div{:class => 'separator'}
    
    %h1{:class => 'cursive text-center'}The Calendar
    %div{:class => 'row'}
        %h4{:class => 'text-center schedule-day'}
            %strong FRIDAY:
        %div{:class => 'row'}
            %div{:class => 'col-sm-2 col-sm-offset-1 text-right'}7:30
            %div{:class => 'col-sm-8'}
                If you're in town we'd love to see you! BYOB for evening drinks and s'mores.
                %br
                %span{:class =>'schedule-attire'}Attire: Casual.
    %div{:class => 'row'}
        %h4{:class => 'text-center schedule-day'}
            %strong SATURDAY:
        %div{:class => 'row'}
            %div{:class => 'col-sm-2 col-sm-offset-1 text-right'}10:00
            %div{:class => 'col-sm-8'}
                Come play! The house is open for swimming, lawn games, & fun.
                %br
                %span{:class =>'schedule-attire'}Attire: Playclothers & Swimsuits
        %div{:class => 'row'}
            %div{:class => 'col-sm-2 col-sm-offset-1 text-right'}12:00
            %div{:class => 'col-sm-8'}Lunch! We are having a potluck lunch at the house.
        %div{:class => 'row'}
            %div{:class => 'col-sm-2 col-sm-offset-1 text-right'}4:00
            %div{:class => 'col-sm-8'}Siesta! Return to your hotel to get ready for the evening festivities.
        %p &nbsp;
        %div{:class => 'row'}
            %div{:class => 'col-sm-2 col-sm-offset-1 text-right schedule-big'}6:00
            %div{:class => 'col-sm-8'}
                %span{:class => ' schedule-big'}
                    Ceremony
                %br
                %span{:class =>'schedule-attire'}Attire: All white
        %div{:class => 'row'}
            %div{:class => 'col-sm-2 col-sm-offset-1 text-right schedule-big'}7:00
            %div{:class => 'col-sm-8'}
                %span{:class => ' schedule-big'}
                    Celebration!
                %br
                Drinks, dinner & dancing.
    %div{:class => 'row'}
        %h4{:class => 'text-center schedule-day'}
            %strong SUNDAY:
        %div{:class => 'row'}
            %div{:class => 'col-sm-4 col-sm-offset-4 text-center'}Join us anytime for brnch & please enjoy the house more.
    
    %div{:class => 'separator'}
    
    %h1{:class => 'cursive text-center'}What You Need To Know
    %p &nbsp;
    %h2 If you have any questions, you know you can ask us!
    %p{:class => 'question-header'}
        %strong What's this thing anyway?
    %p We know we eloped (sorry we're not sorry). But we have all these wonderful friends and family members that missed out on sipping champagne and dancing with us. We throwing this celebration and ceremony to share the joy of our marriage with you.
    
    %p{:class => 'question-header'}
        %strong This is a community wedding.
    %p Sounds like you are turning into hippies (kind-of, we do live in LA now...) Really though, we can't stress enough how we want everyone to be around us and having a great time. We're asking that you BYOB if you're joining us Friday, bring something for a potluck Lunch Saturday (see your invite), and help out whenever you can around the house. We scrapped the wedding planner to buy you more booze. You're welcome.
    
    %p{:class => 'question-header'}
        %strong What's the dress code?
    %p We're glad you asked! For the majority of the weekend the dress code is fun in the sun. Shorts, skirts, bathing suits, etc. However, for just a little bit of time (precisely Saturday from 6-12pm) please wear all white. Yep, all white. Guys, those super super super light khakis are OK. Need some help? Here's a Pinterest board: What to wear to Jess and Zack's awesome wedding
    
    %p{:class => 'question-header'}
        %strong What's this house like?
    %p This house is awesome. We're going to have tons of lawn games, a fire pit, kayaks, swimming, lounge chairs and pretty cool people all for you to enjoy. Spend as much time there as you can, we want to see you! A few house rules:
    %p 1. No smoking on the premises
    %p 2. Do not feed the ducks
    %p 3. Pets are not welcome (this is such a bummer but trust us, it's better)
    %p 4. No parking in the driveway (there is an entire street that is all yours!)
    