!!!
%html{:lang => 'en'}
  %head
    %meta{'http-equiv' => 'content-type', :content => 'text/html', :charset => 'utf-8'}
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1'}
    %meta{:name => 'description', :content => ''}
    %meta{:name => 'author', :content => ''}
    /%link{:rel => 'shortcut icon', :href => 'http://getbootstrap.com/assets/ico/favicon.ico'}
    %title 
      = @title
    %link{:rel => "stylesheet", :href => "stylesheets/bootstrap.css"}
    %link{:rel => "stylesheet", :href => "stylesheets/signin.css"}
    %link{:rel => "stylesheet", :href => "stylesheets/my_styles.css"}
    %link{:rel => "stylesheet", :href => "stylesheets/jquery-ui.min.css"}
    %script{:type => "text/javascript", :src => "scripts/jquery.min.js"}
    %script{:type => "text/javascript", :src => "scripts/jquery-ui-1.10.4.custom.min.js"}
    %script{:type => "text/javascript", :src  => "scripts/bootstrap.js"}
    %script{:type => "text/javascript", :src => "https://www.google.com/jsapi"}
    %script{:type => "text/javascript", :src  => "scripts/my_scripts.js"}
  %body
    .jumbotron{:id => 'wedding-header'}
      .container

    .container
      %p{:class => 'lead'}
        This is the page for our wedding!
      -if flash[:notice]
        %div{:style => "color: green"}
          =flash[:notice]
      %form{:class => 'form-signin', :role => 'form', :action => '/submit_song', :method => 'post'}
        %h2{:class => 'form-signin-heading'}Suggest A Song:
        %div{:class => 'form-group'}
          %input{:class => 'form-control', :placeholder => 'Song Name & Artist', :required => '', :name => 'song_name'}
        %div{:class => 'form-group'}
          %input{:class => 'form-control', :placeholder => 'Your Name', :required => '', :type => 'text', :name => 'requestor'}
        %button{:class => ['btn btn btn-lg btn-primary btn-block'], :type => 'submit'}Submit      