.jumbotron{:id => 'home'}
  .container

.container
  %p{:class => 'lead'}
    We're getting married (again...sort of)! Save the Date - August 22nd, Wolfeboro NH. This is
    %a{:href => '/venue'}the house
    where it will happen,
    %a{:href => '/staying'}check here
    for places to stay, and
    %a{:href => '/rsvp'}RSVP
    if you haven't already.