%div{:class => 'home-outer-container col-sm-10 col-sm-offset-1 top-buffer'}
    %div{:class => 'home-inner-container'}
        %div{:class => 'home-image-container'}
        %div{:class => 'home-text-container'}
            %h1 Jess and Zack
            %p{:class => 'large-paragraph'}August 29, 2015 in Wolfeboro, NH
            %p{:class => 'large-paragraph'}94 days to go!