.jumbotron{:id => 'home'}
  .container

.container
  %p{:class => 'lead'}
    We’re so excited for you to join us in August to celebrate our marriage!
  %p{:class => 'lead'}
    Please check out all the details about the venue, where you can stay and most importantly, add some music selections for the dancing.