!!!
%html{:lang => 'en'}
  %head
    %meta{'http-equiv' => 'content-type', :content => 'text/html', :charset => 'utf-8'}
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1'}
    %meta{:name => 'description', :content => ''}
    %meta{:name => 'author', :content => ''}
    /%link{:rel => 'shortcut icon', :href => 'http://getbootstrap.com/assets/ico/favicon.ico'}
    %title 
      = @title
    %link{:rel => "stylesheet", :href => "stylesheets/bootstrap.css"}
    %link{:rel => "stylesheet", :href => "stylesheets/my_styles.css"}
    %link{:rel => "stylesheet", :href => "stylesheets/jquery-ui.min.css"}
    %script{:type => "text/javascript", :src => "scripts/jquery.min.js"}
    %script{:type => "text/javascript", :src => "scripts/jquery-ui-1.10.4.custom.min.js"}
    %script{:type => "text/javascript", :src  => "scripts/bootstrap.js"}
    %script{:type => "text/javascript", :src => "https://www.google.com/jsapi"}
    %script{:type => "text/javascript", :src  => "scripts/my_scripts.js"}
  %body
    %div{:class => 'container navbar navbar-default'}
      %div{:class => 'navbar-header'}
        %a{:href => '/', :class => 'navbar-brand'}Mays Wedding
        %button{:type => 'button', :class => 'navbar-toggle', 'data-toggle' => 'collapse', 'data-target' => '.navbar-collapse'}
          %span{:class =>'sr-only'}Toggle Navigation
          %span{:class => 'icon-bar'}
          %span{:class => 'icon-bar'}
          %span{:class => 'icon-bar'}
      %ul{:class => 'nav navbar-nav navbar-right collapse navbar-collapse'}
        %li
          %a{:href => '/', :class => 'active'}home
        %li
          %a{:href => '/venue'}venue
        %li
          %a{:href => '/staying'}staying
        %li
          %a{:href => '/rsvp'}rsvp
    =yield