.jumbotron{:id => 'rsvp'}
  .container

.container
  %p{:class => 'lead'}
    Please use the form below to RSVP (and suggest a song, if you'd like)!
  %div{:id => 'form-response', :class => 'collapse form-signin'}
    %p{:class => 'lead', :id => 'form-messages'}
    %p{:class => 'lead'}
      %a{:href => '#', :id => 'anotherSong'}Add another song
  %form{:class => 'form-signin', :role => 'form', :action => '/submit_song', :method => 'post', :id => 'ajax-song'}
    %h2{:class => 'form-signin-heading'}Suggest A Song:
    %div{:class => 'form-group'}
      %input{:class => 'form-control', :placeholder => 'Song Name & Artist', :required => '', :name => 'song_name', :id => 'song_name'}
    %div{:class => 'form-group'}
      %input{:class => 'form-control', :placeholder => 'Your Name', :required => '', :type => 'text', :name => 'requestor', :id => 'requestor'}
    %button{:class => ['btn btn btn-lg btn-primary btn-block'], :type => 'submit'}Submit      