.jumbotron{:id => 'staying'}
  .container

.container
  %p{:class => 'lead text-center'}
    If you’re coming from Boston, the house is about a 2 hour drive, but we’d love to have you stay though the evening! Our recommended accommodation for the evening is the Wolfeboro Inn.
  %br  
  %p{:class => 'lead text-center'}
    90 N Main St, Wolfeboro, NH 03894
    %br
    (603) 569-3016
  %br
  %p{:class => 'text-center bottom_buffer'}
    %img{:src => 'wolfeboro-inn.jpg'}