.jumbotron{:id => 'staying'}
  .container

.container
  %p{:class => 'lead text-center'}
    If you’re coming from Boston, the house is about a 2 hour drive, but we’d love to have you stay though the evening! Our recommended accommodation for the evening is
    %a{:href => 'http://www.topsidesbb.com/come_in.html', :target => 'blank'}
      Topsides Bed & Breakfast.
  %br  
  %p{:class => 'lead text-center'}
    209 S Main St, Wolfeboro, NH 03894
    %br
    (603) 569-3834
  %br
  %p{:class => 'text-center bottom_buffer', :id => 'img-inn'}
