.jumbotron{:id => 'venue'}
  .container

.container
  %p{:class => 'lead text-center'}
    The party will be at the beautiful Hopewell Estate, which is a private event house and venue on Lake Winnipesaukee in Wolfeboro New Hampshire. Prepare yourself for lots of lawn games and lake side fun!
  %br
  %div{:class => 'row bottom_buffer'}
    %p{:class => 'col-sm-4 img-container', :id => 'img-lakeside'}
    %p{:class => 'col-sm-4 img-container', :id => 'img-map-1'}
    %p{:class => 'col-sm-4 img-container', :id => 'img-map-2'}
