.jumbotron{:id => 'venue'}
  .container

.container
  %p{:class => 'lead text-center'}
    The party will be at the beautiful Hopewell Estate, which is a private event house and venue on Lake Winnipesaukee in Wolfeboro New Hampshire. Prepare yourself for lots of lawn games and lake side fun!
  %br
  %div{:class => 'row bottom_buffer'}
    %p{:class => 'col-sm-4 img-container'}
      %img{:src => 'map-1-resize.png'}
    %p{:class => 'col-sm-4 img-container'}
      %img{:src => 'map-2-resize.png'}
    %p{:class => 'col-sm-4 img-container'}
      %img{:src => 'lakeside-resize.png'}