/****** GENERAL ********/


body {
    font-family: 'Muli', sans-serif;
    font-size: 16px;
}

.header-text {
  	background: url('/img/top-image.png') no-repeat center center;
  	height: 130px;
}

.large-paragraph {
    font-size: 19px;
}

.header-menu {
    text-align: center;
    padding-top: 15px;
}

.header-menu li {
    display: inline-block;
    padding: 0;
}

.header-menu li a {
    color: #000000;
    font-style: normal;
}

.header-menu li a:hover,
.header-menu li a.active {
    color: #999999;
    background: none;
}

.cursive {
    font-family: 'Alex Brush', cursive;
}

.cursive a {
    color: #333;
}

.top-buffer {
    margin-top: 40px;
}


/******** HOME PAGE *******/


.home-outer-container {
    height: 650px;
}

.home-inner-container {
    height: 100%;
    border: 1px solid #cccccc;
    margin: 0 50px;
}

.home-image-container {
  	background: url('/img/front-image.png') no-repeat center top;
  	height: 475px;
  	margin-top: 20px;
}

.home-text-container {
    text-align: center;
}

.home-text-container h1 {
    font-family: 'AmericanTypewriter-CondensedLight';
}

.home-text-container p {
    
}


/******** DETAILS PAGE *******/


#house-pic {
  	background: url('/img/house.jpg') no-repeat center top;
  	height: 385px;
  	margin-top: 50px;
}

.separator {
  	background: url('/img/separator.png') no-repeat center center;
  	height: 100px;
}

.schedule-day {
    margin-top: 30px;
}

.schedule-attire {
    color: #a6a6a6;
    font-size: 14px;
    font-style: italic;
}

.schedule-big {
    font-size: 18px;
}

.question-header {
    margin: 40px 0 10px;
}

.sub-menu {
    display: none;
	position: absolute;
	width: 220px;
	padding: 0px 10px 10px 10px;
	background: white;
	z-index: 99;
    box-shadow: 0 1px 1px rgba(0,0,0,0.17);
}

.sub-menu li {
	text-align: left;
	list-style: none;
	padding-bottom: 10px;
	padding-left: 10px;
}

.sub-menu li a:hover {
    text-decoration: none;
}


/******** REGISTRY *******/


#registry-box {
    height: 95px;
    width: 209px;
    border: 1px solid #cccccc;
    margin: 50px auto;
}

#registry-box p {
    margin-top: 20px;
    font-size: 18px;
}

#registry-box a {
    color: #666666;
}

#registry-box a:hover {
    color: #cccccc;
    text-decoration: none;
}

#registry-box:hover {
    cursor: pointer;
}


/******** VEGAS PHOTOS *******/


.carousel {
    margin: 40px auto;
}

.slick-prev:before, .slick-next:before {
    color: black;
}