.navbar-default {
  background-color: white;
  border: none;
}

#home {
  background: url('/home-background.jpg') no-repeat center center;
}

#venue {
  background: url('/venue.jpg') no-repeat center center;
}

#staying {
  background: url('/staying.jpg') no-repeat center center;
}

#rsvp {
  background: url('/rsvp.jpg') no-repeat center center;
}
