
html {
}

body {
    font-family: 'Muli', sans-serif;
    font-size: 16px;
}

.header-text {
  	background: url('/img/top-image.png') no-repeat center center;
  	height: 130px;
}

.large-paragraph {
    font-size: 19px;
}

.header-menu {
    text-align: center;
    padding-top: 15px;
}

.header-menu li {
    display: inline-block;
    padding: 0;
}

.header-menu li a {
    color: #000000;
    font-style: normal;
}

.header-menu li a:hover,
.header-menu li a.active {
    color: #999999;
    background: none;
}

.home-outer-container {
    height: 650px;
}

.home-inner-container {
    height: 100%;
    border: 1px solid #cccccc;
    margin: 0 50px;
}

.home-image-container {
  	background: url('/img/front-image.png') no-repeat center top;
  	height: 475px;
  	margin-top: 20px;
}

.home-text-container {
    text-align: center;
}

.home-text-container h1 {
    font-family: 'AmericanTypewriter-CondensedLight';
}

.home-text-container p {
    
}

.cursive {
    font-family: 'Alex Brush', cursive;
}

.top-buffer {
    margin-top: 40px;
}

#house-pic {
  	background: url('/img/house.jpg') no-repeat center top;
  	height: 385px;
  	margin-top: 50px;
}

.separator {
  	background: url('/img/separator.png') no-repeat center center;
  	height: 100px;
}

.question-header {
    margin: 40px 0 10px;
}